# 텍스트 파일은 자동으로 줄 끝 처리
* text=auto

# Visual Studio 및 Xcode 관련 파일도 LF로 고정
*.cpp text eol=lf
*.h text eol=lf
*.cs text eol=lf
*.ini text eol=lf
*.uproject text eol=lf
*.uplugin text eol=lf

# Binary files (Git LFS 사용하는 경우 예시)
*.uasset binary
*.umap binary
